@charset "utf-8";

/* Configurações gerais */

* { /* reset da pagina */
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width:100vw; /* 100:vw - largura inteira da tela */
    height:100vh; /* 100vh - altura inteira da tela */
    background-color: #233eff;
    background-size: contain; /* preenche a tela inteira com a img */
    background-repeat: no-repeat; /* evita repetiçao na img*/
}

h1 {
    color:white;
    text-shadow: 2px 2px 0px black; /* Sombra nas letras */
}